html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.chakra-button:focus {
  box-shadow: none !important;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
